<div class="row">
	<div class="col-md-12">
		<!-- start: FAQ -->
		<div class="tabbable tabs-left faq">
			<ul id="myTab3" class="nav nav-tabs">
				<li class="active">
					<a href="#faq_example1" data-toggle="tab">
						<i class="fa fa-smile-o"></i> About the new Product
					</a>
				</li>
				<li class="">
					<a href="#faq_example2" data-toggle="tab">
						<i class="fa fa-shopping-cart"></i> Buying Product
					</a>
				</li>
				<li class="">
					<a href="#faq_example3" data-toggle="tab">
						<i class="fa fa-lightbulb-o"></i> Benefits of the new Product
					</a>
				</li>
				<li class="">
					<a href="#faq_example4" data-toggle="tab">
						<i class="fa fa-download"></i> Download and install the Product
					</a>
				</li>
				<li class="">
					<a href="#faq_example5" data-toggle="tab">
						<i class="fa fa-laptop"></i> Billing and renewal
					</a>
				</li>
				<li class="">
					<a href="#faq_example6" data-toggle="tab">
						<i class="fa fa-wrench"></i> Support and resources
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="faq_example1">
					<div id="accordion" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15">About the new Product</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Excepteur sint obcaecat cupiditat non proident?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_1_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis aute iure reprehenderit in voluptate velit esse cillum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_1_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Nemo enim ipsam voluptatem, quia voluptas sit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_1_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Excepteur sint obcaecat cupiditat non proident?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_1_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis aute iure reprehenderit in voluptate velit esse cillum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_1_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_1_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Nemo enim ipsam voluptatem, quia voluptas sit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_1_6">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="faq_example2">
					<div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15"> Buying Product</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Spernatur aut odit aut fugit sed quia consequuntur magni?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_2_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Qui ratione voluptatem sequi nesciunt?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_2_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis nostrum exercitationem ullam corporis suscipit laboriosam?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_2_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_2_4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Nisi ut aliquid ex ea commodi consequatur?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_2_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_2_5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis autem vel eum iure reprehenderit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_2_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="faq_example3">
					<div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15">Benefits of the new Product</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Quis autem vel eum iure reprehenderit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_3_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Nisi ut aliquid ex ea commodi consequatur?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis nostrum exercitationem ullam corporis suscipit laboriosam?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_4" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Excepteur sint obcaecat cupiditat non proident
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Temporibus autem quibusdam et aut officiis?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_6" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Anim pariatur cliche reprehenderit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_6">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_7" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Excepteur sint obcaecat cupiditat non proident
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_7">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_3_8" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Temporibus autem quibusdam et aut officiis?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_3_8">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="faq_example4">
					<div id="accordion4" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15">Download and install the Product</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_1" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Feugiat nulla facilisis at vero eros?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_4_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_2" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Accumsan et iusto odio dignissims qui blandit?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_4_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_3" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Nam liber tempor cum soluta nobis?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_4_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_4" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Placerat facer possims assum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_4_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_5" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Typi non habent claritatem insitam?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_4_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_4_6" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Est usus legentis in iis qui facit eorum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_4_6">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="faq_example5">
					<div id="accordion5" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15">Billing and renewal</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_1" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Investigationes demonstraverunt lectores?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_5_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_2" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Legere me lius quod ii legunt saepius?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_5_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_3" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Claritas est etiam processus dynamicus?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_5_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_4" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Qui sequitur mutationem consuetudium lectorum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_5_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_5" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Mirum est notare quam littera gothica?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_5_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_5_6" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quam nunc putamus parum claram?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_5_6">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="faq_example6">
					<div id="accordion6" class="panel-group accordion accordion-custom accordion-teal">
						<h3 class="margin-bottom-15">Support and resources</h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_1" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-arrow"></i> Anteposuerit litterarum formas humanitatis?
								</a></h4>
							</div>
							<div class="panel-collapse collapse in" id="faq_6_1">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_2" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Per seacula quarta decima?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_2">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_3" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Eodem modo typi?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_3">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_4" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Qui nunc nobis videntur parum clari?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_4">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_5" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Fiant sollemnes in futurum?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_5">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_6" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Quis nostrud exerci tation ullamcorper suscipit lobortis?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_6">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a href="#faq_6_7" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
									<i class="icon-arrow"></i> Aliquip ex ea commodo consequat?
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="faq_6_7">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end: FAQ -->
	</div>
</div>