<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径 -->
	<typeAliases>

	</typeAliases>


	<!-- 拦截器配置 -->
	<plugins>
		<!-- 查询分页拦截器 -->
		<plugin interceptor="com.dsg.sims.common.model.PagingInterceptor">
		</plugin>
	</plugins>
</configuration>