<ul class="main-navigation-menu"
	ng-controller="queryClassManageController">
	<li ui-sref-active="active">
		<a ui-sref="app.assetManagement.studentManage({grade:-1,schoolId:-1,classesId:0})" href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-file-text-o"></i>
				</div>
				<div class="item-inner">
					<span class="title"> 全部学生信息 </span><i class="icon-arrow"></i>
				</div>
			</div>
	</a>
	</li>
	<li ng-repeat="School in navInfo">
		<!-- 	ng-class="{'active open':$state.includes('app.assetManagement)}" -->
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-file-text-o"></i>
				</div>
				<div class="item-inner">
					<span class="title">{{School.name}}</span><i class="icon-arrow"></i>
				</div>
			</div>
	</a>
		<ul class="sub-menu">
			<li ng-repeat="Classes in School.classes" ui-sref-active="active"><a
				ui-sref="app.assetManagement.studentManage({grade:{{Classes.grade}},schoolId:{{Classes.schoolId}},classesId:{{Classes.classesId}}})">
					<span class="title"> {{Classes.grade}}-{{Classes.name}} </span>
			</a></li>
		</ul>
	</li>
</ul>
