<div class="modal-header">
	<h3 class="modal-title">学生信息修改</h3>
</div>
<div class="modal-body">
	<div class="row-fluid clearfix">
		<div class="col-md-12">
			<div class="row-fluid clearfix padding-top-20">
				<div class="col-md-6">
					<span class="sims_span">学　号　:</span> <span
						style="padding-left: 14px;"> <input type="text"  readonly="readonly"
						class="sims_input_update" ng-model="studentModel.studentId" />
					</span>
				</div>
				<div class="col-md-6">
					<span class="sims_span">姓　名　:</span> <span
						style="padding-left: 14px;"> <input type="text"
						class="sims_input_update" ng-model="studentModel.name" />
					</span>
				</div>
			</div>
			<div class="row-fluid clearfix padding-top-20">
				<div class="col-md-6">
					<span class="sims_span">性　别　 : </span> <span
						style="padding-left: 10px;"> <select
						style="border-radius: 4px; width: 65%;"
						ng-model="studentModel.sex">
							<option value="" selected="selected">请选择性别</option>
							<option value="男">男</option>
							<option value="女">女</option>
					</select>
					</span>
				</div>
				<div class="col-md-2" style="padding-right:0px">
					<span class="sims_span">出生日期: </span>
				</div>
				<div class="col-md-4" style="padding-left:4px;padding-right:18px">
					<span class="input-group" style="width: 100%;"> <input
						class="form-control" placeholder="出生日期" current-text="今天"
						clear-text="清除" close-text="关闭" style="border: 1px solid #c8c7cc;"
						datepicker-popup="{{format}}"
						ng-model="studentModel.birthday.time" is-open="opened"
						datepicker-options="dateOptions" popup-placement="auto top"
						readonly /> <span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="open($event)" style="border: 1px solid #c8c7cc;">
								<i class="fa fa-calendar"></i>
							</button>
					</span>
					</span>
				</div>
			</div>
			<div class="row-fluid clearfix padding-top-20">
				<div class="col-md-6">
					<span class="sims_span">身份证号:</span> <span
						style="padding-left: 14px;"> <input type="text"
						class="sims_input_update" ng-model="studentModel.citizenId" />
					</span>
				</div>
				<div class="col-md-6">
					<span class="sims_span">家庭住址:</span> <span
						style="padding-left: 14px;"> <input type="text"
						ng-model="studentModel.address" class="sims_input_update" />
					</span>
				</div>
			</div>
			<div class="row-fluid clearfix padding-top-20">
				<div class="col-md-6">
					<span class="sims_span">政治面貌 : </span> <span
						style="padding-left: 10px;"> <select
						style="border-radius: 4px; width: 65%;"
						ng-model="studentModel.politicalStatus">
							<option value="" selected="selected">请选择政治面貌</option>
							<option value="党员">党员</option>
							<option value="团员">团员</option>
							<option value="少先队员">少先队员</option>
							<option value="群众">群众</option>
					</select>
					</span>
				</div>
			</div>
			<div class="row-fluid clearfix padding-top-20">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<button type="button" ng-click="ok()" class="btn btn-primary">
							<span>确定<i class="fa fa-check"></i></span>
						</button>
					</div>
					<div class="col-sm-6">
						<button type="button" ng-click="cancel()" class="btn btn-primary">
							<span>取消<i class="fa fa-times"></i></span>
						</button>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="modal-footer">
	<button class="btn btn-danger" ng-click="ok()">确定</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div> -->