<div ng-controller="dateTimeController" class="row">
	<div class="col-md-6">
	<p class="input-group">
		<input class="form-control" placeholder="测试开始时间"
			current-text="今天" clear-text="清除" close-text="关闭" 
			datepicker-popup ng-model="dt" is-open="opened" 
			datepicker-options="dateOptions" readonly/> 
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
	</p>
	</div>
</div>